.navbar-brand {
  font-family: Lucida Sans;
  font-size: 40px;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

#Home {
  padding: 12rem 0;
  background-color: pink;
  color: #333;
}

#AboutMe {
  padding: 3rem 0;
}

#MyHobbies {
  padding: 3rem 0;
}

.card {
  margin-bottom: 20px;
}

#ContactMe {
  padding: 3rem 0;
}

.contact-link {
  margin-right: 20px;
}

.navbar.fixed-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

section {
  min-height: 100vh;
}
